<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-label>Usuario</ion-label>
    <ion-input placeholder="username" [(ngModel)]="username" type="text"></ion-input>
    <ion-label>Contraseña</ion-label>
    <ion-input placeholder="password" [(ngModel)]="password" type="password"></ion-input>
    <ion-button (click)="login()">Login</ion-button>
    <ion-button (click)="recuperar()">Recuperar Contraseña</ion-button>
  </div>
</ion-content>

