<div id="centrar">
  <ion-footer> 
    <ion-toolbar>
      <ion-title >
        <ion-icon name="logo-ionic"></ion-icon>
        <ion-icon name="logo-ionic" size="large"></ion-icon>
        <ion-icon name="logo-ionic" color="primary"></ion-icon>
        <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
    Copyright@ Todos Los Derechos Reservados <ion-icon name="logo-ionic"></ion-icon>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
      <ion-icon name="logo-ionic" color="primary"></ion-icon>
      <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon></ion-title>
      
    </ion-toolbar>
  </ion-footer>
</div>